<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <p>a 컴포넌트</p>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias
        doloremque reiciendis porro, non error sunt quod harum deserunt
        veritatis velit quasi ratione perspiciatis tenetur delectus illo aut
        natus quisquam?
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias
        doloremque reiciendis porro, non error sunt quod harum deserunt
        veritatis velit quasi ratione perspiciatis tenetur delectus illo aut
        natus quisquam?
      </div>
    </div>
  </body>
</html>
