<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <p>c 컴포넌트</p>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi quis
        necessitatibus fuga ex cumque magnam dolor molestiae atque in laborum
        laudantium aliquam recusandae est iure eveniet amet, autem
        tempore.test</span
      >
      <span>파일을 수정합니다..</span>
    </div>
  </body>
</html>
